<?xml version="1.0"?>
<launch>


<node pkg="gmapping" type="slam_gmapping" respawn="false" name="slam_gmapping" output="screen">
  <param name = "delta" value="0.095"/>
  <param name = "map_update_interval" value = "4"/>
  <param name = "maxRange" value = "12.0"/>
  <param name = "maxUrange" value = "6.0"/>
  <remap from="scan" to="scan"/>
</node>


<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
 <rosparam file="$(find turtlebot_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
 <rosparam file="$(find turtlebot_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
 <rosparam file="$(find turtlebot_2dnav)/param/local_costmap_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/global_costmap_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/dwa_local_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/global_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/move_base_params.yaml" command="load" />
 <remap from="cmd_vel" to="/cmd_vel_mux/input/teleop"/> <!--original /cmd_vel_mux/input/navi" watch out here , changes from simulation to reality -->
</node>

</launch>
